boto3==1.7.70
botocore==1.10.70
Django==2.0.1
django-ckeditor==5.4.0
django-js-asset==0.1.1
django-storages==1.6.6
docutils==0.14
gunicorn==19.7.1
jmespath==0.9.3
Pillow==5.0.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
s3transfer==0.1.12
six==1.11.0
whitenoise==3.3.1
