body {
	background-image: url('../images/JnkWOp.jpg');
	background-attachment: fixed;
	font-family: 'Roboto Condensed', sans-serif;
}

nav {
	border-radius: 0 !important;
}

nav h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: .1em;
}

nav button {
	border-radius: 0 !important;
	background-color: grey !important;
}

hr {
	background-color: grey;
}

nav button:hover {
	background-color: tan !important;
}

div.jumbotron {
	background-image: url('../images/white-background.png');
	background-size: 500px;
	text-align: center;
	margin-top: -1.45em;
	color: black;
}

article {
	
	padding: 0 1em;
	border-radius: .5em;
	margin-bottom: 1em;
}

article h3 {
	margin: 0;
}

article h2 {
	font-size: 2.25em;
}

article p,
article li,
article blockquote {
	font-size: 1.25em;
}

div.container {
	margin-top: -2.15em;
}
