body {
	background-image: url('../images/JnkWOp.jpg');
	background-attachment: fixed;
	font-family: 'Roboto Condensed', sans-serif;
}

nav {
	border-radius: 0 !important;
	margin-bottom: 0 !important;
	
}

nav h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: .1em;
	color: white;
}

nav li a {
	color: white !important;
}

nav button {
	border-radius: 0 !important;
	background-color: grey !important;
}

hr {
	background-color: grey;
}

nav button:hover {
	background-color: tan !important;
}

div.jumbotron {
	background-image: url('../images/grid.png');
	background-size: 1750px;
	text-align: center;
	color: black;
	border-bottom: 2px solid black;
	margin-bottom: 0;
	font-family: 'Anton', sans-serif;
	letter-spacing: .075em;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

div.jumbotron div.banner {
	background-color: rgba(205, 182, 206, .25);
	padding: .1em 0;
}

aside {
	margin-left: -1em;
}

article,
aside,
div.about,
div.contact {
	border: 2px outset #c9c9c9;
	border-radius: 5px;
	margin-top: 1em;
	padding: 0 1em;
}

article:last-child {
	margin-bottom: 1em;
}

article img {
	height: 12.5em;
	border: 1px solid grey;
	float: left;
	margin-right: 1em;
}




article h3 {
	margin: 0;
}

article h2 {
	font-size: 2.35em;
	margin-top: .25em;
	margin-bottom: .15em;
}

div.about p,
article p,
article li,
article blockquote {
	font-size: 1.2em;
	line-height: 1.45em;
}

@media screen and (max-width: 990px) {

	aside {
		margin-left: -1em;
	}
	
} 
